#empu_err_main {
    font-family: 'Lato', sans-serif;
    display: table;
    width: 100%;
    height: auto;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #c23616;
}

#empu_err_main .fof {
    display: table-cell;
    vertical-align: middle;
}

#empu_err_main .fof h3 {
    font-size: 80px;
    margin-bottom: 0px;
}

#empu_err_main .fof p {
    font-size: 15px;
    display: inline-block;
    padding-right: 5px;
    margin-bottom: 10px;
    margin-top: 0;
}

#empu_err_main .fof h5 {
    margin-top: 0;
}