/**
 * Empu - Core
 * ------------
 * 
 * @package EmpuCoreCss
 * @version 2.0.0
 * @author jonsnow
*/

body {
    margin: 0;
    padding: 0;
}
#emputantular-rootapp {
    width: 100%;
    height: 100%;
    margin: 0 !important;
    padding: 0;
}
#emputantular-rootapp #emputantular-preloader {
    position: absolute;
    left: 45%;
    top: 50%;

    border: 5px solid #f3f3f3;
    border-top: 5px solid #27ae60;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
